.formcontato {
  width: 100vw;
  display: flex;
  justify-content: center;
  height: auto;
}

.formcontato__contacto {
  display: flex;
  flex-direction: column;
  /**/
  width: 100vw;
  height: auto;
  border: 2px solid rgb(255, 255, 255);
  background-color: #eaf2fd;
  color: black;
  z-index: 99;
  position: relative;
  padding: 3vw;
  align-items: center;
}

/*formulario*/
.formcontato__form {
  display: flex;
  flex-direction: column;
  height: 18rem;
  justify-content: flex-end;
  justify-content: space-between;
  margin-top: 1rem;
}

.formcontato__input {
  padding: 0.8vw;
  border-radius: 15px;
}

/*Boton*/
.formcontato__botao {
  padding: 15px 25px;
  font-size: 0.7rem;
  cursor: pointer;
  text-decoration: none;
  color: rgb(240, 242, 243);
  background-color: #2b60c4;
  border: none;
  border-radius: 15px;
  box-shadow: 0 3px rgb(28, 45, 80);
}

.formcontato__botao:hover {
  background-color: #0d49f0;
}

.formcontato__botao:active {
  background-color: #2a05ff;
  transform: translateY(1px);
  color: #fff;
}

/*imagen*/
.formcontato--esquerda {
  display: flex;
  height: 35vh;
  width: 70vw;
  display: none;
}

.formcontato__img {
  object-fit: cover;
  width: 70vw;
}

/*textos*/

.formcontato__text {
  margin: 1vw;
  width: 70vw;
  height: auto;
}

.formcontato__title {
  width: 141px;
  height: 38px;
  font-family: "Raleway";
  font-style: italic;
  font-weight: 700;
  font-size: 32px;
  text-decoration-line: underline;
  margin: 0 0 2.5vh 0;
}

.formcontato__subtext {
  width: 70vw;
  height: auto;
  font-family: "Raleway";
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6rem;
  text-decoration-line: underline;
  color: #464646;
}
.formcontato__textarea{
  overflow: scroll;
    resize: none;
}
/*---------------------------------------------------------------------------------------------------*/

/*Responsive*/

@media screen and (min-width: 1024px) {
  .formcontato__contacto {
    display: flex;
    flex-direction: row;
    align-items: inherit;
    width: 64vw;
    /**/
  }

  .formcontato__img {
    width: 25vw;
  }
  .formcontato__form {
     width: 37vw;
     height: auto;
  }
  .formcontato--esquerda {
    height: auto;
    display: contents;
  }
  .formcontato__input {
    margin: 1vw 0;
  }
  .formcontato__botao {
    margin: 2vw 0 0 0;
    padding: 1.5vw;
    font-size: 1vw;
  }
  .formcontato__subtext {
    width: 35vw;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .formcontato__contacto {
    display: flex;
    flex-direction: row;
    align-items: inherit;
    width: 64vw;
    /**/
  }

  .formcontato__img {
    width: 25vw;
  }

  .formcontato__text {
    margin: 1vw;
    width: 35vw;
  }
  .formcontato--esquerda {
    display: flex;
    height: auto;
  }
  .formcontato__subtext {
    width: 35vw;
  }
}

/*---------------------------------------------------------------------------------------------------*/
